*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    min-width: 320px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: $color-blue;
    font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: auto;
}