// colors
$color-blue: rgb(9, 9, 50);
$color-mint: #5effea;
$color-white: #ffffff;
$color-grey: rgb(98, 98, 106);

$color-primary: $color-blue;
$color-secondary: $color-mint;
$color-disabled: $color-grey;

// breakpoints
$tablet: 768px;
$desktop: 1200px;
