.btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  height: 2.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;

  &:disabled {
    pointer-events: none;
  }

  &--primary {
    background-color: $color-mint;
    color: $color-blue;
    border-color: $color-mint;

    &:active,
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $color-mint;
      color: $color-mint;
    }

    &:disabled {
      background-color: $color-disabled;
      border-color: $color-disabled;
    }
  }
}
